body {
  margin: 0;
  font-family: "Oswald", sans-serif;

  font-family: "Playfair Display", serif;

  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(231, 226, 220, 0.514);
}

code {
  font-family: "Oswald", sans-serif;

  font-family: "Playfair Display", serif;

  font-family: "Poppins", sans-serif;
}
